{extend name="./base.html"}
{block name="title"}
<title>智能家教机器人 </title>
{/block}
{block name="headerPlus"}
<link rel="stylesheet" type="text/css" href="{$Think.BASE}/resources/csschat/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{$Think.BASE}/resources/csschat/style.css">
<link rel="stylesheet" type="text/css" href="{$Think.BASE}/resources/csschat/jquery.mobile.flatui.css"/>
{/block}
{block name="content"}
<div class="chat_container">

    <div  style="width: 100%">
        <div data-role="content" class="container" style="width: 100%; max-width: 900px;" role="main">
            <ul class="content-reply-box mg10">


            </ul>
        </div>
    </div>
</div>
<ul class="text-center input_center">
    <textarea name="" id="question"></textarea>
    <button id="submit" onclick="submit()">提交</button>
</ul>
<script type="text/javascript" src="{$Think.BASE}/resources/js/jquery.min.js"></script>
<script type="text/javascript" src="{$Think.BASE}/resources/js/jquery.mobile-1.4.0-rc.1.js"></script>
<script type="text/javascript" src="{$Think.BASE}/public/index.php/turing/turing/js?callback=answer"></script>
<script type="text/javascript">
    Date.prototype.Format = function (fmt) { //author: meizz
        var o = {
            "M+": this.getMonth() + 1,                 //月份
            "d+": this.getDate(),                    //日
            "h+": this.getHours(),                   //小时
            "m+": this.getMinutes(),                 //分
            "s+": this.getSeconds(),                 //秒
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度
            "S": this.getMilliseconds()             //毫秒
        };
        if (/(y+)/.test(fmt))
            fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt))
                fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }
    $(function () {
        /*
         ** 不同页面切换转场效果
         ** $.mobile.changePage ('/test.html', 'slide/pop/fade/slideup/slidedown/flip/none', false, false);
         */
        $('.list-group-item,.menu a').click(function () {
            $.mobile.changePage($(this).attr('href'), {
                transition: 'flip', //转场效果
                reverse: true       //默认为false,设置为true时将导致一个反方向的转场
            });
        });
        $("#question").keydown(function (e) {
            var curKey = e.which;
            if (curKey == 13) {
                submit();
                return false;
            }
        });
    });
    function ask(question) {
        var div = document.getElementsByClassName("content-reply-box")[0];
        var content = document.createElement("div");
        content.innerHTML = '<li class="even"><a class="user" href="#"><img class="img-responsive avatar_" src="{$Think.BASE}/resources/images/student.png" width="41px" height="41px" alt=""><span class="user-name">{$user.nickname}</span></a> <div class="reply-content-box"> <span class="reply-time">' + new Date().Format("hh:mm:ss") + '</span> <div class="reply-content pr"> <span class="arrow">&nbsp;</span>' + question + '</div> </div> </li>';
        var randId = Math.random()+"";
        content.setAttribute("id", randId);
        location.hash=randId;
        div.appendChild(content);

        var t = document.getElementById(randId);
        var contains = document.getElementsByClassName("chat_container")[0];
        contains.scrollTop = t.offsetTop - contains.offsetTop;
    }
    function answer(answer) {
        var div = document.getElementsByClassName("content-reply-box")[0];
        var content = document.createElement("div");
        content.innerHTML = '<li class="odd"><a class="user" href="#"><img class="img-responsive avatar_" src="{$Think.BASE}/resources/images/teacher.png" width="41px" height="41px" alt=""><span class="user-name">老师</span></a> <div class="reply-content-box"> <span class="reply-time">' + new Date().Format("hh:mm:ss") + '</span> <div class="reply-content pr"> <span class="arrow">&nbsp;</span>' + answer + '</div> </div> </li>';
        var randId = Math.random()+"";
        content.setAttribute("id", randId);
        location.hash=randId;
        div.appendChild(content);

        var t = document.getElementById(randId);
        var contains = document.getElementsByClassName("chat_container")[0];
        contains.scrollTop = t.offsetTop - contains.offsetTop;
    }
    function submit() {
        var question = $("#question").val();
        if(!question){
            alert("问题内容不能为空");
            return;
        }
        ask(question);
        $.ajax({
            type: "POST",
            url: "{$Think.BASE}/public/index.php/turing/turing/talk",
            data: {"message": question},
            dataType: "json",
            success: function (data) {
                $("#question").val("")
                answer(data.content);
            }
        });
    }

</script>
{/block}