@charset "utf-8";
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td,
a {
  margin: 0;
  padding: 0;
  outline: 0;
}
fieldset,
img {
  border: 0;
}
:focus {
  outline: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var,
optgroup {
  font-style: normal;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 400;
}
a {
  text-decoration: none;
  transition: 0.2s;
  color: #555555;
}
a:hover {
  /*text-decoration:underline;*/
  text-decoration: none;
  /*color:#666;*/
}
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
input,
button,
textarea,
select,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}
input,
button,
textarea,
select {
  *font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
  *overflow: visible;
}
table button,
table input {
  *overflow: auto;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ol,
ul,
li {
  list-style: none;
}
ul,
li {
  list-style-type: none;
  /*	list-style-position:inside;*/
}
caption,
th {
  text-align: left;
}
sup,
sub {
  font-size: 100%;
  vertical-align: baseline;
}
/*:link,:visited,ins {
	text-decoration:none
}*/
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
}
label {
  cursor: pointer;
}
select,
input,
img {
  vertical-align: middle;
}
img {
  border: none;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
/* 清除浮动 http://developer.51cto.com/art/201105/261229.htm */
.cf:before,
.cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  zoom: 1;
}
/* 超过指定宽度，用省略号代替 */
.ellipsis {
  display: block;
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/*强制换行*/
.break_word {
  word-wrap: break-word;
  word-break: break-all;
}
/*禁止换行*/
.keep_all {
  word-break: keep-all;
  white-space: nowrap;
}
/*禁止FF等浏览器给textarea增加可拖拽大小的设置*/
textarea {
  resize: none;
}
/*表格边框合并*/
table {
  border-collapse: collapse;
}
/*两端对齐 若单行，至少要3个字符，只有两个字符的，中间补一个空格*/
.text_justify {
  text-align: justify;
  text-justify: distribute-all-lines;
  /*ie6-8*/
  text-align-last: justify;
  /* ie9*/
  -moz-text-align-last: justify;
  /*ff*/
  -webkit-text-align-last: justify;
  /*chrome 20+*/
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* chrome*/
  .aaa:after {
    content: ".";
    display: inline-block;
    width: 100%;
    overflow: hidden;
    height: 0;
  }
}
/*修复火狐按钮文字不垂直居中的bug*/
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: none;
  padding: 0;
}
* html body {
  /* IE6 fixed box hack */
  _background-image: url(about:blank);
  _background-attachment: fixed;
}
body {
  font: 12px/1.5 "微软雅黑";
  color: #555555;
  background: #f3f3f3;
}
.px1000 {
  width: 1000px;
  margin: 0 auto;
}
.px1200 {
  width: 1200px;
  margin: 0 auto;
}
.fyh {
  font-family: "微软雅黑", "黑体";
}
.fht {
  font-family: "黑体";
}
.number {
  font-family: Arial;
}
.bold {
  font-weight: bold;
}
.normal {
  font-weight: normal;
}
.word-break {
  word-break: break-all;
  word-wrap: break-word;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.z1 {
  z-index: 1;
}
.z10 {
  z-index: 10;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.iblock {
  display: inline-block;
}
.tc {
  text-align: center;
}
.tl {
  text-align: left;
}
.tr {
  text-align: right;
}
.vm {
  vertical-align: middle;
}
.vt {
  vertical-align: top;
}
.fr {
  float: right;
}
.fl {
  float: left;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
  display: block;
}
.clear-both {
  clear: both;
  line-height: 1px;
  height: 1px;
  font-size: 1px;
  overflow: hidden;
}
.clearfix {
  zoom: 1;
}
.clear {
  clear: both;
}
* html .clearfix {
  zoom: 1;
}
*:first-child + html .clearfix {
  zoom: 1;
}
.tablelist {
  width: 100%;
  border: 0;
}
.table_title {
  vertical-align: top;
}
.table_left {
  text-align: right;
}
.m5 {
  margin: 5px;
}
.m10 {
  margin: 10px;
}
.ml5 {
  margin-left: 5px;
}
.ml10 {
  margin-left: 10px;
}
.ml15 {
  margin-left: 15px;
}
.ml20 {
  margin-left: 20px;
}
.ml25 {
  margin-left: 25px;
}
.ml30 {
  margin-left: 30px;
}
.ml35 {
  margin-left: 35px;
}
.ml40 {
  margin-left: 40px;
}
.ml45 {
  margin-left: 45px;
}
.ml50 {
  margin-left: 50px;
}
.ml60 {
  margin-left: 60px;
}
.mr5 {
  margin-right: 5px;
}
.mr10 {
  margin-right: 10px;
}
.mr15 {
  margin-right: 15px;
}
.mr20 {
  margin-right: 20px;
}
.mr25 {
  margin-right: 25px;
}
.mr30 {
  margin-right: 30px;
}
.mr35 {
  margin-right: 35px;
}
.mr40 {
  margin-right: 40px;
}
.mt5 {
  margin-top: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mt20 {
  margin-top: 20px;
}
.mt25 {
  margin-top: 25px;
}
.mt30 {
  margin-top: 30px;
}
.mt35 {
  margin-top: 35px;
}
.mt40 {
  margin-top: 40px;
}
.mb5 {
  margin-bottom: 5px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb25 {
  margin-bottom: 25px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb40 {
  margin-bottom: 40px;
}
.mb50 {
  margin-bottom: 50px;
}
.p2 {
  padding: 2px;
}
.p5 {
  padding: 5px;
}
.p10 {
  padding: 10px;
}
.pl5 {
  padding-left: 5px;
}
.pl10 {
  padding-left: 10px;
}
.pl15 {
  padding-left: 15px;
}
.pl16 {
  padding-left: 16px;
}
.pl20 {
  padding-left: 20px;
}
.pl25 {
  padding-left: 25px;
}
.pl30 {
  padding-left: 30px;
}
.pl35 {
  padding-left: 35px;
}
.pl40 {
  padding-left: 40px;
}
.pl45 {
  padding-left: 45px;
}
.pl50 {
  padding-left: 50px;
}
.pr5 {
  padding-right: 5px;
}
.pr10 {
  padding-right: 10px;
}
.pr15 {
  padding-right: 15px;
}
.pr20 {
  padding-right: 20px;
}
.pr25 {
  padding-right: 25px;
}
.pr30 {
  padding-right: 30px;
}
.pr35 {
  padding-right: 35px;
}
.pr40 {
  padding-right: 40px;
}
.pt5 {
  padding-top: 5px;
}
.pt10 {
  padding-top: 10px;
}
.pt15 {
  padding-top: 15px;
}
.pt20 {
  padding-top: 20px;
}
.pt25 {
  padding-top: 25px;
}
.pt30 {
  padding-top: 30px;
}
.pt35 {
  padding-top: 35px;
}
.pt40 {
  padding-top: 40px;
}
.pt45 {
  padding-top: 45px;
}
.pb5 {
  padding-bottom: 5px;
}
.pb10 {
  padding-bottom: 10px;
}
.pb15 {
  padding-bottom: 15px;
}
.pb20 {
  padding-bottom: 20px;
}
.pb25 {
  padding-bottom: 25px;
}
.pb30 {
  padding-bottom: 30px;
}
.pb35 {
  padding-bottom: 35px;
}
.pb40 {
  padding-bottom: 40px;
}
.pb45 {
  padding-bottom: 45px;
}
.ti {
  text-indent: 2em;
}
/*进度样式*/
.ui-progressbar-mid {
  display: inline-block;
  width: 44px;
  height: 44px;
  line-height: 44px;
  font-size: 12px;
  text-align: center;
  position: relative;
  background: url(../images/progressbar_mid.png?rrdversion=20131013b);
  overflow: hidden;
}
.ui-progressbar-mid-0 {
  background-position: 0px 0;
}
.ui-progressbar-mid-1 {
  background-position: -54px 0;
}
.ui-progressbar-mid-2 {
  background-position: -108px 0;
}
.ui-progressbar-mid-3 {
  background-position: -162px 0;
}
.ui-progressbar-mid-4 {
  background-position: -216px 0;
}
.ui-progressbar-mid-5 {
  background-position: -270px 0;
}
.ui-progressbar-mid-6 {
  background-position: -324px 0;
}
.ui-progressbar-mid-7 {
  background-position: -378px 0;
}
.ui-progressbar-mid-8 {
  background-position: -432px 0;
}
.ui-progressbar-mid-9 {
  background-position: -486px 0;
}
.ui-progressbar-mid-10 {
  background-position: -540px 0;
}
.ui-progressbar-mid-11 {
  background-position: -594px 0;
}
.ui-progressbar-mid-12 {
  background-position: -648px 0;
}
.ui-progressbar-mid-13 {
  background-position: -702px 0;
}
.ui-progressbar-mid-14 {
  background-position: -756px 0;
}
.ui-progressbar-mid-15 {
  background-position: -810px 0;
}
.ui-progressbar-mid-16 {
  background-position: -864px 0;
}
.ui-progressbar-mid-17 {
  background-position: -918px 0;
}
.ui-progressbar-mid-18 {
  background-position: -972px 0;
}
.ui-progressbar-mid-19 {
  background-position: -1026px 0;
}
.ui-progressbar-mid-20 {
  background-position: -1080px 0;
}
.ui-progressbar-mid-21 {
  background-position: -1134px 0;
}
.ui-progressbar-mid-22 {
  background-position: -1188px 0;
}
.ui-progressbar-mid-23 {
  background-position: -1242px 0;
}
.ui-progressbar-mid-24 {
  background-position: -1296px 0;
}
.ui-progressbar-mid-25 {
  background-position: -1350px 0;
}
.ui-progressbar-mid-26 {
  background-position: -1404px 0;
}
.ui-progressbar-mid-27 {
  background-position: -1458px 0;
}
.ui-progressbar-mid-28 {
  background-position: -1512px 0;
}
.ui-progressbar-mid-29 {
  background-position: -1566px 0;
}
.ui-progressbar-mid-30 {
  background-position: -1620px 0;
}
.ui-progressbar-mid-31 {
  background-position: -1674px 0;
}
.ui-progressbar-mid-32 {
  background-position: -1728px 0;
}
.ui-progressbar-mid-33 {
  background-position: -1782px 0;
}
.ui-progressbar-mid-34 {
  background-position: -1836px 0;
}
.ui-progressbar-mid-35 {
  background-position: -1890px 0;
}
.ui-progressbar-mid-36 {
  background-position: -1944px 0;
}
.ui-progressbar-mid-37 {
  background-position: -1998px 0;
}
.ui-progressbar-mid-38 {
  background-position: -2052px 0;
}
.ui-progressbar-mid-39 {
  background-position: -2106px 0;
}
.ui-progressbar-mid-40 {
  background-position: -2160px 0;
}
.ui-progressbar-mid-41 {
  background-position: -2214px 0;
}
.ui-progressbar-mid-42 {
  background-position: -2268px 0;
}
.ui-progressbar-mid-43 {
  background-position: -2322px 0;
}
.ui-progressbar-mid-44 {
  background-position: -2376px 0;
}
.ui-progressbar-mid-45 {
  background-position: -2430px 0;
}
.ui-progressbar-mid-46 {
  background-position: -2484px 0;
}
.ui-progressbar-mid-47 {
  background-position: -2538px 0;
}
.ui-progressbar-mid-48 {
  background-position: -2592px 0;
}
.ui-progressbar-mid-49 {
  background-position: -2646px 0;
}
.ui-progressbar-mid-50 {
  background-position: -2700px 0;
}
.ui-progressbar-mid-51 {
  background-position: -2754px 0;
}
.ui-progressbar-mid-52 {
  background-position: -2808px 0;
}
.ui-progressbar-mid-53 {
  background-position: -2862px 0;
}
.ui-progressbar-mid-54 {
  background-position: -2916px 0;
}
.ui-progressbar-mid-55 {
  background-position: -2970px 0;
}
.ui-progressbar-mid-56 {
  background-position: -3024px 0;
}
.ui-progressbar-mid-57 {
  background-position: -3078px 0;
}
.ui-progressbar-mid-58 {
  background-position: -3132px 0;
}
.ui-progressbar-mid-59 {
  background-position: -3186px 0;
}
.ui-progressbar-mid-60 {
  background-position: -3240px 0;
}
.ui-progressbar-mid-61 {
  background-position: -3294px 0;
}
.ui-progressbar-mid-62 {
  background-position: -3348px 0;
}
.ui-progressbar-mid-63 {
  background-position: -3402px 0;
}
.ui-progressbar-mid-64 {
  background-position: -3456px 0;
}
.ui-progressbar-mid-65 {
  background-position: -3510px 0;
}
.ui-progressbar-mid-66 {
  background-position: -3564px 0;
}
.ui-progressbar-mid-67 {
  background-position: -3618px 0;
}
.ui-progressbar-mid-68 {
  background-position: -3672px 0;
}
.ui-progressbar-mid-69 {
  background-position: -3726px 0;
}
.ui-progressbar-mid-70 {
  background-position: -3780px 0;
}
.ui-progressbar-mid-71 {
  background-position: -3834px 0;
}
.ui-progressbar-mid-72 {
  background-position: -3888px 0;
}
.ui-progressbar-mid-73 {
  background-position: -3942px 0;
}
.ui-progressbar-mid-74 {
  background-position: -3996px 0;
}
.ui-progressbar-mid-75 {
  background-position: -4050px 0;
}
.ui-progressbar-mid-76 {
  background-position: -4104px 0;
}
.ui-progressbar-mid-77 {
  background-position: -4158px 0;
}
.ui-progressbar-mid-78 {
  background-position: -4212px 0;
}
.ui-progressbar-mid-79 {
  background-position: -4266px 0;
}
.ui-progressbar-mid-80 {
  background-position: -4320px 0;
}
.ui-progressbar-mid-81 {
  background-position: -4374px 0;
}
.ui-progressbar-mid-82 {
  background-position: -4428px 0;
}
.ui-progressbar-mid-83 {
  background-position: -4482px 0;
}
.ui-progressbar-mid-84 {
  background-position: -4536px 0;
}
.ui-progressbar-mid-85 {
  background-position: -4590px 0;
}
.ui-progressbar-mid-86 {
  background-position: -4644px 0;
}
.ui-progressbar-mid-87 {
  background-position: -4698px 0;
}
.ui-progressbar-mid-88 {
  background-position: -4752px 0;
}
.ui-progressbar-mid-89 {
  background-position: -4806px 0;
}
.ui-progressbar-mid-90 {
  background-position: -4860px 0;
}
.ui-progressbar-mid-91 {
  background-position: -4914px 0;
}
.ui-progressbar-mid-92 {
  background-position: -4968px 0;
}
.ui-progressbar-mid-93 {
  background-position: -5022px 0;
}
.ui-progressbar-mid-94 {
  background-position: -5076px 0;
}
.ui-progressbar-mid-95 {
  background-position: -5130px 0;
}
.ui-progressbar-mid-96 {
  background-position: -5184px 0;
}
.ui-progressbar-mid-97 {
  background-position: -5238px 0;
}
.ui-progressbar-mid-98 {
  background-position: -5292px 0;
}
.ui-progressbar-mid-99 {
  background-position: -5346px 0;
}
.ui-progressbar-mid-100 {
  background-position: -5400px 0;
}
/*======== index.css===========*/
.zxcf_top_wper {
  background: #ffffff;
  border-bottom: 1px solid #e2e2e2;
  padding: 5px 0;
}
.zxcf_top_l {
  color: #97a0a6;
  font-size: 14px;
}
.zxcf_top_l a {
  margin-left: 15px;
}
.zxcf_top_r a {
  color: #97a0a6;
  font-size: 14px;
}
.zxcf_top_r span {
  padding: 0 10px;
}
.zxcf_top_r .curspan {
  color: #ffa800;
}
.zxcf_top_r a:hover {
  color: #ffa800;
}
.zxcf_nav_wper {
  background: #ffffff;
}
.zxcf_nav_r {
  color: #555555;
  font-size: 14px;
  padding: 20px 0;
  line-height: 35px;
  position: relative;
  cursor: pointer;
}
.zxcf_perinfo {
  position: absolute;
  top: 60px;
  right: 0px;
  width: 100px;
  z-index: 10;
  background: #ffffff;
}
.zxcf_perinfo a {
  color: #555555;
  font-size: 14px;
}
.zxcf_menu_wper {
  background: #48474a;
}
.zxcf_menu a {
  color: #ffffff;
  font-size: 16px;
  display: inline-block;
  padding: 12px 35px;
  margin-right: 40px;
}
.zxcf_menu .zm_cura {
  background: #5d5b5f;
}
.zxcf_menu a:hover {
  background: #5d5b5f;
}
.zscf_banner_wper {
  background: url("../images/banner01.png") no-repeat scroll center 0 #ffffff;
  height: 363px;
}
.zscf_banner {
  position: relative;
}
.zscf_box {
  width: 196px;
  height: 187px;
  background: url("../images/boxbg.png") no-repeat scroll center center;
  padding: 40px;
  position: absolute;
  top: 40px;
  right: 0;
}
.zscf_box {
  color: #97a0a6;
  font-size: 14px;
}
.zscf_box p {
  line-height: 30px;
}
.zscf_box strong {
  color: #ff7512;
  font-size: 18px;
}
.zscf_box .btn {
  display: inline-block;
  text-align: center;
  width: 200px;
  height: 40px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 16px;
  line-height: 40px;
}
.zscf_box .btn1 {
  background-color: #14b2e2;
  margin-top: 15px;
}
.zscf_box .btn1:hover {
  background-color: #3bc4ee;
}
.zscf_box .btn2 {
  background-color: #ffa800;
  margin-top: 15px;
}
.zscf_box .btn2:hover {
  background-color: #ffb933;
}
.zscf_block1 {
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #e2e2e2;
  background: #ffffff;
}
.zscf_block1_tit {
  border-bottom: 1px solid #e2e2e2;
  padding: 10px 0;
  background: url("../images/laba.png") no-repeat scroll 0 15px;
}
.zscf_block1_tit span {
  color: #8d8d8d;
  padding: 0 0px 0 30px;
}
.zscf_block1_tit span strong {
  font-size: 16px;
  color: #2c3e50;
  padding-right: 10px;
}
.zscf_block1_tit a {
  color: #8d8d8d;
  font-size: 12px;
  margin-right: 10px;
}
.zscf_block1_text {
  color: #8d8d8d;
  width: 725px;
}
.zscf_block1_text li {
  width: 221px;
  padding: 30px 0 0 20px;
  float: left;
}
.zscf_block1_text li span {
  display: inline-block;
  height: 25px;
  padding: 20px 0 10px 50px;
}
.zscf_block1_text li .block1_libg01 {
  background: url("../images/blockpic01.png") no-repeat scroll 0 0;
}
.zscf_block1_text li .block1_libg02 {
  background: url("../images/blockpic02.png") no-repeat scroll 0 0;
}
.zscf_block1_text li .block1_libg03 {
  background: url("../images/blockpic03.png") no-repeat scroll 0 0;
}
.zscf_block1_text li em {
  color: #ff7512;
  font-size: 14px;
}
.zscf_block1_text li em strong {
  font-size: 24px;
}
.block1_r {
  width: 220px;
  padding-left: 19px;
  border-left: 1px solid #e2e2e2;
  color: #8d8d8d;
}
.block1_r h2 {
  padding: 10px 0;
}
.block1_r h2 span {
  color: #555;
  font-size: 16px;
  float: left;
}
.block1_r a {
  color: #14b2e2;
  font-size: 16px;
  float: right;
}
.block1_r ul li {
  clear: both;
  line-height: 25px;
}
.block1_r ul li span {
  float: left;
}
.block1_r ul li em {
  float: right;
}
.zscf_block2 {
  background: #fff;
  border: 1px solid #14b2e2;
  border-radius: 5px;
}
.zscf_block2_l {
  width: 745px;
}
.block2_biao {
  background: url("../images/xinshou.png") no-repeat scroll 0 0;
  padding: 30px 20px 0 20px;
  border-bottom: 1px solid #e2e2e2;
}
.block2_biao span {
  color: #666666;
  font-size: 18px;
}
.block2_biao2 {
  background: url("../images/tiyan.png") no-repeat scroll 0 0;
  padding: 30px 20px 0 20px;
}
.block2_biao2 span {
  color: #666666;
  font-size: 18px;
}
.block2_biao_ul li {
  float: left;
  color: #97a0a6;
  font-size: 14px;
  line-height: 45px;
  margin-right: 19px;
}
.block2_biao_ul li span {
  color: #555;
  font-size: 14px;
}
.block2_biao_ul li em {
  font-size: 12px;
}
.block2_biao_ul li strong {
  font-size: 22px;
  color: #ffa800;
  font-weight: bold;
}
.block2_biao_ul li strong i {
  font-size: 14px;
}
.tjxm_jindu {
  overflow: hidden;
}
.tjxm_jindu span {
  color: #666666;
  font-size: 14px;
}
.press_wper {
  width: 200px;
  height: 8px;
  background-color: #e3e3e3;
  border-radius: 8px;
  margin-top: 8px;
}
.press {
  background-color: #ffa800;
  height: 8px;
  width: 50%;
  border-radius: 10px;
}
.invest_btn {
  width: 125px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #14b2e2;
  line-height: 35px;
  text-align: center;
  display: inline-block;
  color: #14b2e2;
  font-size: 16px;
}
.zscf_block2_r {
  width: 250px;
  position: relative;
  _width: 240px;
  overflow: hidden;
}
.block2_r_tip {
  width: 255px;
  _width: 240px;
  height: 37px;
  line-height: 37px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  background-color: #14b2e2;
  border-radius: 0 0 5px 0;
}
.zscf_block3 {
  border: 1px solid #e2e2e2;
  background-color: #fff;
  border-radius: 5px;
}
.block3_tit {
  padding: 0px 20px;
  border-bottom: 1px solid #e2e2e2;
  height: 47px;
  position: relative;
}
.block3_tit span {
  display: inline-block;
  color: #959595;
  font-size: 18px;
  width: 125px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  float: left;
}
.block3_tit em {
  display: inline-block;
  padding: 12px 20px;
  float: left;
}
.block3_tit .block3_curspan {
  color: #000;
  border-bottom: 2px solid #14b2e2;
}
.block3_tit a {
  color: #97a0a6;
  font-size: 12px;
  float: right;
  line-height: 50px;
}
.block3_proone {
  border-bottom: 1px solid #e2e2e2;
  padding: 35px 20px;
  _padding: 10px 20px;
}
.block3_proone .proone_left {
  width: 46px;
  height: 46px;
  padding: 10px 30px 0 0;
  display: inline-block;
}
.proone_center {
  width: 670px;
}
.proone_center_span1 {
  color: #000;
  font-size: 16px;
}
.proone_center_ul li {
  color: #97a0a6;
  font-size: 16px;
  margin-right: 70px;
  float: left;
}
.proone_center_ul li span {
  color: #ffa800;
  font-weight: bold;
}
.block3_btn {
  width: 120px;
  height: 36px;
  background: url("../images/block3_btn.png") no-repeat scroll center center;
  line-height: 36px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  margin: 10px 0 0 40px;
}
.zscf_block5_l {
  border: 1px solid #e2e2e2;
  background: #ffffff;
  width: 488px;
  border-radius: 5px;
}
.zscf_block5_r {
  border: 1px solid #e2e2e2;
  background: #ffffff;
  width: 488px;
  border-radius: 5px;
}
.block5_l_tit {
  background: url("../images/block_pic01.png") no-repeat 30px 10px;
  border-bottom: 1px solid #e2e2e2;
  padding-left: 60px;
}
.zscf_block5_l {
  background: #ffffff;
}
.zscf_block5_l .block3_tit span {
  width: 80px;
}
.zscf_block5_l .block3_tit em {
  padding: 12px 10px;
}
.news_ul {
  padding: 25px 30px;
}
.news_ul li {
  line-height: 25px;
  background: url(../images/yuanquan.png) no-repeat scroll 0 center;
  padding-left: 20px;
}
.news_ul li a {
  color: #979797;
  font-size: 14px;
}
.block5_r_tit {
  height: 47px;
  background: url("../images/block_pic02.png") no-repeat 30px 10px;
  border-bottom: 1px solid #e2e2e2;
  padding-left: 60px;
  line-height: 47px;
}
.block5_r_tit span {
  color: #555;
  font-size: 16px;
}
.block5_r_tit em {
  padding-right: 30px;
  display: block;
}
.block5_r_tit em a {
  pading: 0px 10px;
  margin-right: 10px;
  color: #555;
  font-size: 14px;
}
.block5_r_tit em .brt_acur {
  background: #14b2e2;
  color: #fff;
  border-radius: 5px;
}
.rank_list_ul {
  padding: 15px 30px;
}
.rank_list_ul li {
  line-height: 35px;
  color: #555;
  font-size: 12px;
}
.rank_list_ul li em {
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  color: #fff;
  margin-right: 40px;
  border-radius: 5px;
}
.rank_list_ul li a {
  color: #555;
  font-size: 12px;
  display: inline-block;
  width: 60px;
}
.rank_list_ul li a:hover {
  color: #14b2e2;
}
.rank_list_ul li span {
  display: inline-block;
  width: 90px;
  text-align: center;
}
.rank_bg01 {
  background-color: #fa6b0d;
}
.rank_bg02 {
  background-color: #f88327;
}
.rank_bg03 {
  background-color: #ffaf01;
}
.rank_bg04 {
  background-color: #959595;
}
.zscf_partner {
  background: #fff;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
}
.partner_con {
  padding: 19px;
}
#demo {
  background: #FFF;
  overflow: hidden;
  width: 960px;
}
#demo img {
  width: 151px;
  height: 42px;
}
#indemo {
  float: left;
  width: 800%;
}
#demo1 {
  float: left;
}
#demo2 {
  float: left;
}
.ft_color01 {
  color: #666666;
  font-size: 14px;
}
.zscf_aboutus_wper {
  background-color: #e4e4e7;
  padding: 25px 0;
  color: #666666;
  font-size: 14px;
}
.zscf_aboutus_l {
  width: 500px;
  padding-top: 20px;
}
.zscf_aboutus_lul li {
  float: left;
  padding-right: 40px;
  line-height: 25px;
}
.zscf_aboutus_lul li strong {
  color: #6c6c6c;
  font-size: 18px;
  font-weight: bold;
}
.zscf_aboutus_lul li a {
  color: #666666;
  font-size: 14px;
}
.zscf_aboutus_lul li .linkpic a {
  margin-right: 20px;
}
.zscf_aboutus_r {
  width: 500px;
}
.zscf_aboutus_r .ft_ewm {
  display: inline-block;
  width: 110px;
  height: 110px;
}
.zscf_aboutus_r ul {
  width: 350px;
  padding: 0 0 0 40px;
}
.zscf_aboutus_r ul li {
  padding: 20px 15px 10px 15px;
  float: left;
}
.zscf_aboutus_r ul li a:hover {
  color: #ccc;
}
.zscf_bottom_wper {
  background-color: #48474a;
  padding: 25px 0;
  color: #ffffff;
  font-size: 14px;
}
.zscf_bottom_wper a {
  margin-left: 10px;
}
.login_con_wper {
  background: url(../images/lg_bg01.png) no-repeat scroll center center #f3f3f3;
  height: 698px;
}
.login_con {
  padding-top: 50px;
}
.lg_section {
  border: 1px solid #eeeeee;
  background-color: #fff;
}
.lg_section_l {
  width: 617px;
}
.lg_section_r {
  width: 290px;
  padding: 35px 40px;
}
.lg_sec_tit {
  color: #555555;
}
.lg_sec_tit span {
  font-size: 18px;
}
.lg_sec_tit em {
  font-size: 14px;
}
.lg_sec_tit em a {
  color: #eb4256;
}
.lg_input {
  width: 263px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  outline: none;
  line-height: 40px;
  padding-left: 35px;
  height: 40px;
  font-size: 14px;
}
.lg_input01 {
  background: url(../images/lg_name.png) no-repeat scroll 5px 0 #ffffff;
}
.lg_input02 {
  background: url(../images/lg_pas.png) no-repeat scroll 5px 0 #ffffff;
}
.lg_input03 {
  background: url(../images/lg_phone.png) no-repeat scroll 5px 0 #ffffff;
}
.lg_input04 {
  background: url(../images/lg_phone2.png) no-repeat scroll 5px 0 #ffffff;
}
.lg_input05 {
  background: url(../images/lg_phone3.png) no-repeat scroll 5px 0 #ffffff;
}
.lg_check {
  color: #555;
  font-size: 14px;
  padding: 15px 0;
}
.lg_check a {
  color: #555;
}
.lg_btn {
  display: inline-block;
  width: 300px;
  height: 40px;
  border-radius: 5px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  background-color: #14b2e2;
}
.lg_btn:hover {
  background-color: #3bc4ee;
}
.reg_con_wper {
  height: 910px;
  background: url(../images/reg_bg01.png) no-repeat scroll center center;
}
.reg_con {
  padding-top: 50px;
}
.reg_box {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 5px;
}
.reg_box_l {
  width: 604px;
}
.reg_box_r {
  width: 300px;
  padding: 35px 45px;
}
.yanzheng .lg_input {
  width: 125px;
}
.yanzheng span {
  display: inline-block;
  width: 100px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  background-color: #f8b551;
  margin-left: 30px;
  border-radius: 5px;
}
.invest_con_wper {
  background-color: #f3f3f3;
  padding: 40px 0;
}
.product_choose {
  border: 1px solid #eeeeee;
  background-color: #fff;
  border-radius: 5px;
}
.product_tit {
  height: 45px;
  border-bottom: 1px solid #eee;
  color: #6c6c6c;
  font-size: 14px;
  line-height: 45px;
}
.product_tit span,
.product_tit em {
  display: inline-block;
  width: 140px;
  text-align: center;
  border-right: 1px solid #eee;
  float: left;
}
.product_tit .product_curspan {
  height: 44px;
  border-bottom: 1px solid #ff7112;
}
.invest_prochoose {
  padding: 35px 50px;
  position: relative;
  background-color: #fff;
}
.invest_prochoose p {
  padding-bottom: 10px;
}
.invest_prochoose p span {
  display: inline-block;
  color: #555;
  font-size: 14px;
}
.invest_prochoose p a {
  display: inline-block;
  padding: 5px 15px;
  color: #555;
  font-size: 14px;
  border-radius: 5px;
  margin-left: 20px;
}
.invest_prochoose .inpro_cura {
  background-color: #14b2e2;
  color: #fff;
}
.in_prolist {
  border-top: 1px solid #ffffff;
  padding: 60px 0 0 0;
  position: relative;
  top: -85px;
}
.in_prolist_h2 {
  color: #787878;
  font-size: 24px;
  font-weight: bold;
}
.sort_tit {
  height: 30px;
  background-color: #f7f7f7;
  border-radius: 5px;
  border: 1px solid #dadada;
  line-height: 30px;
  color: #000;
  font-size: 14px;
}
.sort_tit span {
  display: inline-block;
  width: 120px;
  border-right: 1px solid #dadada;
  text-align: center;
}
.sort_tit em {
  width: 75px;
  color: #ccc;
  display: inline-block;
  border-right: 1px solid #dadada;
  text-align: center;
}
.prolist_one {
  border: 1px solid #eee;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}
.prolist_one_bl01 {
  border-left: 5px solid #ffa800;
}
.prolist_one_bl02 {
  border-left: 5px solid #14b2e2;
}
.prolist_one_bl03 {
  border-left: 5px solid #6cd159;
}
.prolist_one_tit {
  color: #666666;
  font-size: 18px;
}
.prolist_one_tit span {
  display: inline-block;
  width: 40px;
  height: 25px;
  border-radius: 5px;
  line-height: 25px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  margin-right: 10px;
  background-color: #ffa800;
}
.prolist_one_tit .pro_spanbg02 {
  background-color: #14b2e2;
}
.prolist_one_tit .pro_spanbg03 {
  background-color: #6cd159;
}
.prolist_one_ul li {
  float: left;
  width: 270px;
  color: #666666;
  font-size: 14px;
  padding: 10px 0;
  line-height: 35px;
}
.prolist_one_ul li strong {
  color: #ff7112;
  font-size: 18px;
}
.prolist_one_ul li i {
  color: #6c6c6c;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
}
.prolist_one_ul .prolist_btn {
  width: 130px;
}
.prolist_one_ul .prolist_btn .pro_btn {
  display: inline-block;
  margin: 10px 0 0 0;
  height: 38px;
  width: 120px;
  line-height: 38px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  background-color: #14b2e2;
  border-radius: 5px;
}
.prolist_one_ul .prolist_btn .pro_btnbg02 {
  background-color: #d0d0d0;
}
.prolist_one_ul .prolist_press {
  position: relative;
}
.prolist_one_ul .prolist_press span {
  position: absolute;
  top: 40px;
  left: 80px;
}
.prolist_onebg {
  background: url(../images/profinish.png) no-repeat scroll right bottom #ffffff;
}
.pagelink {
  width: 170px;
  margin: 0 auto;
  padding: 20px 0;
}
.pagelink a {
  display: inline-block;
  padding: 5px 10px;
  background-color: #fff;
  color: #555;
  font-size: 14px;
  border: 1px solid #eee;
}
.pagelink .pglink_cura {
  background-color: #14b2e2;
  color: #fff;
}
.bor_banner01 {
  height: 275px;
  background: url(../images/bor_banner01.png) no-repeat scroll center center;
}
.bor_con_wper {
  background-color: #f3f3f3;
  padding: 40px 0;
}
.bor_detail {
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  padding: 30px 35px;
}
.bor_detail_tit {
  padding: 0 0 25px 160px;
  border-bottom: 1px solid #eee;
}
.bor_detail_tit span {
  display: inline-block;
  width: 135px;
  height: 48px;
  border: 1px solid #48ade5;
  color: #666666;
  font-size: 24px;
  border-radius: 5px;
  line-height: 48px;
  text-align: center;
  margin-left: 15px;
  cursor: pointer;
}
.bor_detail_tit .bor_decurspan {
  color: #fff;
  background-color: #48ade5;
}
.bor_det_onel {
  width: 290px;
  padding-right: 70px;
}
.bor_det_oner {
  width: 500px;
  background-color: #f3f3f3;
  border-radius: 5px;
  padding: 30px;
}
.bor_det_onel {
  font-size: 14px;
}
.bor_det_onel p {
  padding: 40px 0 0 0;
}
.bor_det_onel .bor_p1 {
  color: #333333;
}
.bor_det_onel .bor_p2 {
  color: #848484;
}
.bor_onel_tit {
  padding: 25px 0;
}
.bor_onel_tit span {
  display: inline-block;
  width: 100px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  background-color: #ffa800;
}
.bor_onel_ul {
  color: #555;
  font-size: 14px;
}
.bor_onel_ul li {
  line-height: 25px;
}
.bor_det_oner label {
  display: inline-block;
  width: 85px;
  padding-right: 15px;
  line-height: 40px;
  color: #333333;
  font-size: 16px;
  text-align: right;
}
.bor_det_oner input {
  width: 235px;
  height: 40px;
  border: 1px solid #eee;
  background-color: #fff;
  padding-right: 50px;
  border-radius: 5px;
}
.bor_det_oner .bor_inputbg01 {
  background: url(../images/wanyuan.png) no-repeat scroll 235px center #ffffff;
}
.bor_det_oner .bor_inputbg04 {
  background: url(../images/wanyuan.png) no-repeat scroll 170px center #ffffff;
}
.bor_det_oner .bor_inputbg02 {
  background: url(../images/yue.png) no-repeat scroll 235px center #ffffff;
}
.bor_det_oner .bor_inputbg03 {
  background: url(../images/tao.png) no-repeat scroll 170px center #ffffff;
}
.bor_det_oner .input2 {
  width: 170px;
}
.bor_det_oner select {
  width: 285px;
  height: 40px;
  border: 1px solid #eee;
  background-color: #fff;
  outline: none;
  border-radius: 5px;
}
.bor_det_oner textarea {
  width: 285px;
  height: 100px;
  outline: none;
  border: 1px solid #eee;
  background-color: #fff;
  border-radius: 5px;
}
.bor_det_oner .input3 {
  width: 15px;
  height: 15px;
}
.bor_det_oner .yanzheng {
  width: 130px;
  padding-right: 0;
}
.guarmethod span {
  display: inline-block;
  width: 65px;
  line-height: 40px;
  font-size: 14px;
}
.bor_btn {
  width: 225px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  background-color: #ffa800;
  border-radius: 5px;
  box-shadow: 0 5px 2px #e49702;
  display: inline-block;
}
.notic_bd {
  border: 1px solid #eee;
}
.notic_br {
  border-right: 1px solid #eee;
}
.notic_bb {
  border-bottom: 1px solid #eee;
}
.notic_con_wper {
  padding: 40px 0;
  background-color: #f3f3f3;
}
.notic_ban {
  border-radius: 5px;
}
.notic_section {
  border: 1px solid #eee;
  background-color: #fff;
  border-radius: 5px;
}
.notic_sec_l {
  width: 148px;
}
.notic_secl_ul {
  width: 148px;
}
.notic_secl_ul li {
  height: 65px;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  line-height: 65px;
  text-align: center;
  color: #333333;
  font-size: 16px;
}
.notic_secl_ul .notic_curli {
  background-color: #ebebeb;
}
.notic_secl_ul li:hover {
  background-color: #ebebeb;
}
.notic_sec_r {
  width: 749px;
  padding: 35px 50px;
  border-left: 1px solid #eee;
}
.notic_secr_tit {
  color: #353535;
  font-size: 18px;
  padding-bottom: 20px;
  font-weight: bold;
}
.notic_secr_ul li {
  padding: 10px 20px;
  border-bottom: 1px solid #eee;
}
.notic_secr_ul li a {
  float: left;
  color: #555;
  font-size: 16px;
}
.notic_secr_ul li span {
  float: right;
  color: #ccc;
  font-size: 14px;
}
.notic_pagelink {
  padding: 45px 220px ;
}
.notic_pagelink a {
  display: inline-block;
  width: 45px;
  height: 35px;
  border-radius: 35px;
  background-color: #eee;
  border: 1px solid #dddddd;
  line-height: 35px;
  text-align: center;
  color: #555;
  font-size: 12px;
}
.notic_pagelink .notic_acur {
  background-color: #fff;
  color: #ffa800;
}
.hc_zjwt_one h3 {
  border: 1px solid #e7e7e7;
  color: #555;
  font-size: 14px;
  background: url(../images/hc_zjwtpic02.png) no-repeat scroll 690px center #ffffff;
  padding: 0 25px;
  border-radius: 5px;
  line-height: 40px;
}
.hc_zjwt_one .hc_zjwt_onebg01 {
  background-color: #f3f3f3;
}
.hc_answer {
  padding: 20px 50px;
  background: url(../images/hc_answer.png) no-repeat 10px 20px #fbfbfb;
}
/*文章.css*/
.helpconright h3 {
  height: 90px;
  line-height: 90px;
  color: #0098e1;
  font-size: 20px;
  text-align: center;
}
.helpconright h6 {
  text-align: center;
  color: #333333;
  font-size: 12px;
}
.helpconright h4 {
  text-align: left;
  color: #555555;
  font-size: 18px;
  height: 90px;
  line-height: 90px;
}
.helpconright h5 {
  text-align: left;
  color: #555555;
  padding-bottom: 40px;
}
.helpconright h5 span {
  font-size: 16px;
}
.helpconright p {
  color: #555555;
  font-size: 14px;
  padding: 10px 0;
  text-indent: 20px;
  overflow: hidden;
}
.helpconimg {
  padding: 10px 0px 10px 30px;
}
/*end article*/
